<h1>Cadastro de Idiomas</h1>
<form [formGroup]="formIdioma" (ngSubmit)="onSubmit()">
  <div class="mb-3">
    <label for="exampleInputNome" class="form-label">Nome</label>
    <input type="nome" class="form-control" id="exampleInputNome" aria-describedby="nomeHelp" formControlName="nome" required>
  </div>
  <div class="mb-3">
    <label for="exampleInputTag" class="form-label">Tag</label>
    <input type="tag" class="form-control" id="exampleInputTag" aria-describedby="tagHelp" formControlName="tag" required>
  </div>
  <button type="submit" class="btn btn-primary">Enviar</button>
</form>
